# Terraform files
.terraform
terraform.tfstate
terraform.tfvars
*.tfstate*

# abd-cloud excluded files
/tf-*/
/log/
build.log

# OS X files
.history
.DS_Store

# IDE helper files for VSCode, Sublime, Atom, etc
.vscode
_ide_helper.php
